# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/

# macOS
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Cloud Functions (Node)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

